<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">URL Shortner</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link " aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </header>

    <% if (locals.error) { %>
        <div class="container text-center">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Alert:</strong>
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <br></br>
        <% } %>

            <div class="px-3 py-2 border-bottom mb-3">
                <div class="container d-flex flex-wrap justify-content-center">
                    <p>Enter any URL which you want to make short</p>
                    <form class="col-12 row-lg-auto mb-2 mb-lg-0 me-lg-auto" method="POST" action="/url">
                        <input type="text" name="url" class="form-control" placeholder="https://example.com"
                            aria-label="Search">
                        <div class="text-center my-2">
                            <button type="submit" class="btn btn-primary">Generate</button>
                        </div>
                    </form>
                </div>
            </div>

            <br></br>

            <% if (locals.id) { %>
                <div class="container text-center">
                    <p>URL Generated:
                        <a href="https://url-shortner-app-6bw5.onrender.com/id/<%= id %>" class="nav-link">
                            http://urlshortner.ap-south-1.elasticbeanstalk.com/id/<%=id %>
                        </a>

                    </p>
                </div>
                <br></br>
                <% } %>






                    <div class="container">
                        <% if (locals.urls) { %>
                            <table class="table  table-striped table-hover table-bordered table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">URL</th>
                                        <th scope="col">ShortId</th>
                                        <th scope="col">Clicks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% urls.forEach((url, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= url.redirectUrl %>
                                            </td>
                                            <td>
                                                <%= url.shortId %>
                                            </td>
                                            <td>
                                                <%= url.visitHistory.length %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                            <% } %>
                    </div>




                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                        crossorigin="anonymous"></script>
</body>
</body>

</html>